---
permalink: /
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0;url=/getting-started-with-pure-comments/">
    <link rel="canonical" href="/getting-started-with-pure-comments/">
</head>
<body></body>
</html>
